
    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2023 - ePizzaHub.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>